button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 5px;
	opacity: 1;
	padding: 6px 10px;
	font-size: 14px;
	font-weight: 500;
	background: #EEEEEE;
	color: black;
}